<div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
        
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Envie d'en savoir plus ?</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
          
            <a target="_blank" href="https://www.linkedin.com/in/lasbleis-olivier-6157b181/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
              <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/olivierlasbleis" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
              <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://hub.docker.com/u/olivierlasbleis" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
              <i class="fab fa-docker"></i>
            </a>
          </div>
        </div>
    </div>
</div>