img{
    width: 20%;
}
.row{
}
h1,h4{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.toCenter{
    margin-top: 10vh;
    margin-bottom: 5vh;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 576px) {
    h1{
        font-size: 28px;
    }
    h4{
        font-size: 14px;
    }
    h3{
        font-size: 16px;
    }
}

    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
    @media screen and (min-width: 576px) {
        h1{
            font-size: 30px;
        }
        h4{
            font-size: 18px;
        }
        h3{
            font-size: 23px;
        }
  }

  @media screen and (min-width: 768px) {
    h1{
        font-size: 33px;
    }
    h4{
        font-size: 21px;
    }
    h3{
        font-size: 26px;
    }
  }

  @media screen and (min-width: 992px) {
    h1{
        font-size: 36px;
    }
    h4{
        font-size: 24px;
    }
    h3{
        font-size: 28px;
    }
  }

  @media screen and (min-width: 1200px) {
    h1{
        font-size: 42px;
    }
    h4{
        font-size: 28px;
    }
    h3{
        font-size: 32px;
    }
    
  }


