
<div class="page-header clear-filter toCenter" >
      

          <div class=" pt-3 content-center brand " style = 'background: rgba(0,0,0,.8);'>
              <h1>APPRENEZ LE DEVELOPPEMENT INFORMATIQUE</h1>
              <h4>Vous souhaitez apprendre le code à titre professionnel ou personnel ?</h4>
    
              <h3 class=" mt-3"><a  
                class="btn btn-blue btn-lg btn-round" role="button" (click) = "goToBottom()">
                Reserver un cours
            </a></h3>
        </div>
  </div>
