<div class="section section-examples" data-background-color="black">
          
    <div class="container text-center">
      <h1 class="h1-seo">Quelques réalisations : </h1>
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://air-data-france.herokuapp.com/">
                    <img src="assets/img/air-data-france-front-carre.png" alt="Image" class="img-raised">
                </a>
                <a target="_blank" href="https://air-data-france.herokuapp.com/" class="btn btn-simple btn-primary btn-round">Voir air-data-france</a>
            </div>
            <div class="col">
                <a target="_blank" href="https://poker-analyse.herokuapp.com/">
                    <img src="assets/img/poker-analyse-front-carre.png" alt="Image" class="img-raised">
                </a>
                <a target="_blank" href="https://poker-analyse.herokuapp.com/" class="btn btn-simple btn-primary btn-round">Voir poker-analyse</a>
            </div>
            <div class="col">
              <a target="_blank" href="https://jeu-de-la-vie.herokuapp.com/">
                  <img src="assets/img/jeu-de-la-vie.png" alt="Image" class="img-raised">
              </a>
              <a target="_blank" href="https://jeu-de-la-vie.herokuapp.com/" class="btn btn-simple btn-primary btn-round">Voir jeu-de-la-vie</a>
          </div>
        </div>
    </div>
</div>