<div class="section section-examples" >
          
    <div class="container ">
        
    <div class="typography-line">
        
        <blockquote class="blockquote blockquote-white-perso">
        <h6> Je vous propose des cours particuliers, 
            <br>vous pouvez me contacter directement au 06 99 89 22 42 ou sur lasbleis.olivier@yahoo.fr 
            <br>ou réserver un cours sur le calendrier ci-dessous</h6>
        <p>       
            La clé de notre réussite sera « apprendre en pratiquant » 
            et « pratiquer sur des exemples utiles »
        </p>
        <br>
        <h6>
            Qui suis-je ?
        </h6>
        <p>       
            Je me présente : Olivier, 
            32 ans, diplômé d’un titre concepteur développeur d’application (BAC+4) 
            et spécialisé sur les technologies Java et Angular. 
            Avant d’être développeur, j’ai travaillé plusieurs années dans des ONG 
            dans le domaine des énergies renouvelables.
        </p>
        <br>
        <h6>
            Ce qui me différencie ?
        </h6>
        <p>       
            Je n’ai pas toujours été à l’aise avec l’informatique, 
            je suis même un ancien technophobe, 
            jusqu’à mes 25 ans je voyais les ordinateurs comme des machines obscures et farceuses. 
            J’ai donc démarré très tard dans ce domaine et ai dû reprendre tous les concepts de zéro. 
            Aujourd’hui, cela me permet de me mettre à la place de mes élèves 
            et d’enseigner grâce à des termes simples.
        </p>
        <br>
        <h6>
            Comment puis-je vous apprendre le développement informatique ?
        </h6>
        <div class = "row ">
            <div class = "col blockquote blockquote-white-perso m-1 cadreComment">
                
                    <h6>Pour les ados (à partir de 15 ans) : </h6>
                    <p>
                    <br>Des projets ludiques qui permettent à votre enfant 
                    de partager ses nouvelles compétences avec ses amis.
                    <br>Ma méthode : Trouver un projet qui le motivera et lui fera passer un bon moment.
                </p>
            </div>
            <div class = "col blockquote blockquote-white-perso m-1 cadreComment">
                
                    <h6>Pour les adultes : </h6>
                    <p>
                    <br> Vous souhaitez, dans le cadre de votre travail ou sur des projets personnels, 
                    créer un site internet, automatiser certaines tâches et gagner du temps ? 
                    Je peux vous montrer comment faire. 
                    <br> Ma méthode : Que vous me parliez de vous 
                    afin de déterminer par votre personnalité le bon programme de formation.
                </p>
            </div>
        </div>
        
         <br>
         <h6>
            TARIF : 25 EUROS DE L'HEURE. 
         </h6>
         <p>       
            Vous pouvez réserver sur le calendrier qui suit directement, 
            N'hésitez pas à prendre contact avec moi par téléphone ou mail afin 
            de concevoir un programme de formation SUR MESURE adapté à vos besoins 
         </p>

                <br>
                <small>
                    - A très vite,
                     <br>Olivier LASBLEIS
                     <br>06 99 89 22 42
                     <br>lasbleis.olivier@yahoo.fr
                </small>
            
        </blockquote>
    </div>
   
</div>