

<div class="wrapper" >
  <div class="main text-center row" style="background-image: url('assets/img/matrix.jpg');background-size: 100%;">
    <div class = "col-2" > </div>
    <div class = "col-8">
    
    <app-haut-page></app-haut-page>
  </div>
  <div class = "col-2" > </div>
</div>
  
  <div class="main text-center row">
    <div class = "col-2"  style="background-color: rgba(112, 173, 71, 1);background-size: 100%;"> </div>
    <div class = "col-8">
    
    <img src="assets/img/banniere-horizontale1.png" alt="Circle Image" class=" n-logo raised ">
    <app-mon-annonce ></app-mon-annonce>
    <img src="assets/img/banniere-horizontale2.png" alt="Circle Image" class=" n-logo raised ">
    <app-calendar style="height: 200 px;width:200px "></app-calendar>
  </div>
  <div class = "col-2"  style="background-color: rgba(112, 173, 71, 1);background-size: 100%;"> </div>
</div>

  
  
      
     
   
    
</div>
