

<div class="wrapper" >
  <div class="main text-center row" style="background-image: url('assets/img/programming-header-1.jpg');background-size: 100%;">
    <div class = "col-2" > </div>
    <div class = "col-8">
    
    <app-haut-page></app-haut-page>
  </div>
  <div class = "col-2" > </div>
</div>
  
  <div class="main text-center row" >
    <img src="assets/img/banniere-bleu-1.jpeg" alt="Circle Image" class=" n-logo raised ">
    <div class = "col-2"  > </div>
    <div class = "col-8" >
    <app-mon-annonce ></app-mon-annonce>
    </div>
  <div class = "col-2" > </div>
  <img src="assets/img/banniere-bleu-2a.jpeg" alt="Circle Image" class=" n-logo raised ">
    <div class = "col-2"  > </div>
    <div class = "col-8" >
    <app-calendar style="height: 200 px;width:200px "></app-calendar>
    </div>
  <div class = "col-2" > </div>
    
</div>

  
  
      
     
   
    
</div>
