:root {
    --widthIsLessThan992px: false;
  }

.calendar-wrapper {
    max-width: 500px;
    min-width: 200px;
    border: 1px solid var(--igx-secondary-400);
    border-radius: 6px;
    margin: 8px;
}

.igx-calendar{
    border-radius: 4px;
}

.case{
    border-top: solid;
    border-right: solid;
    
    border-width: 1px;
}

.caseJour{
        border-bottom: dashed ;
        font-weight: bold;
    border-width: 1px;
    width: 100%;
}
.caseHeure{
    height: 50px;
}

.calendrier{
    margin: 1em;
    width: 100%;
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
}
mat-expansion-panel{
    width: 14%;
}


.matExpansionPanel{
    display: flex;
}
mat-expansion-panel-header{
    padding: 0 0;
    display: inline-block;
}
.mat-expansion-panel-header-title{
    margin-right: 0;
    display: block;
}
mat-panel-title.mat-expansion-panel-header-title{
    width: 100px;
}


mat-button-toggle{
    height: 100%;
    width: 100%;
}

.mat-button-toggle-checked{
    background-color:  rgba(40, 117, 255, 0.9);
}

h6{
    font-size: 1.5em;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 576px) {
    p{
        font-size: 9.6px;
    }
    h6, small{
        font-size: 11px;
    }
    .caseJour, .case{
        font-size: 9.6px;
    }
    mat-expansion-panel{
        width: 100%;
        
    }
    .matExpansionPanel{
        display: inline;
    }
}

    /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
    @media screen and (min-width: 576px) {
        p{
            font-size: 11.2px;
        }
        h6, small{
            font-size: 12.5px;
        }
        .caseJour, .case{
            font-size: 11.2px;
        }
        mat-expansion-panel{
            width: 100%;
            
        }
        .matExpansionPanel{
            display: inline;
        }
  }

  @media screen and (min-width: 768px) {
    p{
        font-size: 12.8px;
    }
    h6, small{
        font-size: 14px;
    }
    .caseJour{
        font-size: 12.8px;
    }
    mat-expansion-panel{
        width: 100%;
        
    }
    .matExpansionPanel{
        display: inline;
    }
  }

  @media screen and (min-width: 992px) {
    p{
        font-size: 14.4px;
    }
    h6, small{
        font-size: 16px;
    }
    .caseJour{
        font-size: 14.4px;
    }
    mat-expansion-panel{
        width: 14%;
        
    }
    .matExpansionPanel{
        display: flex;
    }
  }

  @media screen and (min-width: 1200px) {
    p{
        font-size: 16px;
    }
    h6, small{
        font-size: 20px;
    }
    .caseJour{
        font-size: 16px;
    }
    mat-expansion-panel{
        width: 14%;
        
    }
    .matExpansionPanel{
        display: flex;
    }
  }

